/*Esta Seccion customiza la seccion, Quienes Somos*/
.gridAbout{
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1em;
}

.hijo1About{
    grid-column: 1/3;
    grid-row: 1/2;
}

.hijo2About{
    grid-row: 2/3;
    grid-column: 1/2;
    img {
        width: 60vw;
        height: 90vh;
      }
}

.hijo3About{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin-top: 0.625em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    h1{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: white;
        border-radius: 0.2em;
        font-size: 2rem;
        margin-bottom: 0.5em;
      }
      h2{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
      p{
          font-size: 1.2rem;
         border-bottom: 3px solid #B06910;
    }
      h3{font-size: 2.0rem;}
}

.hijo4About{
    grid-row: 3/4;
    grid-column: 1/3; 
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.hijo5About{
    grid-row: 4/5;
    grid-column: 1/3;
}

@media (max-width: 996px){
    .hijo2About,.hijo4About{
        img{
            display: none;
        }
    }

    .hijo3About{
        grid-column: 1/3;
        
    }
}
