/*En esta seccion se estiliza un footer global para todas las secciones de html existentes*/
.footerGlobal {
  background: #e9cfa3;
  padding: 1rem 0;
  text-align: center;
}

.footerGlobal {
  ul {
    li {
      display: inline-block;
      font-size: 2rem;
    }
  }
}

.footerGlobal {
  div {
    img {
      width: 6vh;
    }
  }
}

.containerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.containerFooter {
  div {
    margin-left: 6.25em;
  }
}

.footerIcons {
  margin-right: 12.5em;
}

@media (max-width: 996px) {
  /*Media query para los footer de las secciones*/
  .footerGlobal {
    ul {
      li {
        display: inline-block;
        font-size: 1rem;
      }
    }
  }
  .containerFooter{
    align-items: center;
  }
}

@media (max-width: 996px){
  .footerGlobal {
    div {
      img {
        width: 4vh;
      }
    }
  }
  .footerGlobal {
    ul {
      li {
        font-size: 1rem;
      }
    }
  }
}