/*Seccion Index, aplicando grid a toda la estructura de esta seccion*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gridIndex {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  background-color: #fff;
}

.hijo1Index {
  grid-row: 1/2;
  grid-column: 1/2;
}

.hijo2Index {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-bottom: 4em;

  
}

.hijo3Index {
  grid-row: 3/4;
  grid-column: 1/2;
}

.hijo4Index {
  grid-row: 4/5;
  grid-column: 1/2;
}

.hijo5Index {
  grid-row: 5/6;
  grid-column: 1/2;
  margin-bottom: 6.25em;
  margin-top: 6.25em;;
}

.hijo6Index {
  grid-row: 6/7;
  grid-column: 1/2;
}

.hijo3Index{
  h1{
    margin-left: 0.7em;
  }
}

.hijo4Index {
  /*Estiliza la categoria de productos en la seccion de Index, es el 3er hijo del padre pincipal*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  margin-bottom: 0.625em;
  background-color: #ffffff;
}

.nietoHijo4 {
  width: 16.6em;
  height: 9em;
  margin: 1.5em;
  padding: 0 2em;
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  align-content: center;
  box-shadow: 0.313em 0.625em 0.625em #60609f;
  border-top: 0.438em solid #ed9e77;
}

.categoriaTitle {
  text-align: center;
}

.logoTarjeta {
  width: 1.875em;
  margin-left: 8.75em;
}

.tituloTarjeta,
.textoTarjeta {
  text-align: center;
  font-size: 1.2rem;
}

.tex {
  /*quita decorado de los link de la categoria de productos Index*/
  text-decoration: none;
  font-weight: bold;
}

.textLight {
  color: #a3a5ae;
  font-size: 0.8em;
}

.hijo4Index,
.nietoHijo4 {
  &:hover {
    transform: translateY(-0.19em);
    box-shadow: 0 0.75em 1em rgba(0, 0, 0, 0.3);
  }
}

.containerCard {/*Estiliza la categoria de productos recomendados en la seccion de Index*/
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin: auto;
}

.titleTarjetas {
  text-align: center;
  color: black;
}

.containerCard .card {
  width: 20em;
  height: 26em;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.25em;
  text-align: center;
  transition: all 0.2s;
}

.containerCard .card:hover {
  transform: translateY(-0.938em);
  /*La card sube 15px*/
  box-shadow: 0 0.75em 1em rgba(0, 0, 0, 0.2);
  /*tonalidad del fondo Card*/
}

.containerCard .card {
  img {
    width: 20.625em;
    height: 13.75em;
  }
}

.containerCard .card {
  p {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 18.75em;
  }
}

.containerCard,
.card {
  a {
    font-weight: 31.25em;
    text-decoration: none;
    color: #3498db;
  }
}

.linkProducto{
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  &:hover{
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.6em;
  background: #0f0e0d;
  opacity: 0.5;
  }
}

@media (max-width: 996px) { /*Media query para el index*/
  .hijo2Index{
    margin-bottom: 1.5em;
  }

  .hijo3Index{
    margin-left: auto;
    margin-right: auto;
    h1{
      font-size: 1.5rem;
    }
  }

  .hijo4Index{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

.hijo5Index{
  display: grid;
  grid-template-columns: 1fr;
  }
}